:root {
	--fnt-clr: #10152e;
	--fnt-head: 2em;
	--fnt-logo: 1.25em;
	--fnt-txt: 1em;
	--fnt-fam: "Poppins", sans-serif;

	--color-shadow: #d7b4dd;
	--color-plusbg: #f2eef3;
	--color-plus: #e76996;
	--color-cardbor: #dad0d0;
	--color-light: #fff;
    --color-bg: #5a1e64;
    --color-shapes: #b6325d;
}

html,
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	display: flex;
	justify-content: center;
    background-color: var(--color-bg);
}

body {
	display: grid;
	grid-template-columns: 40% 60%;
	font-family: var(--fnt-fam);
	max-width: 1200px;
    background-color: var(--color-light);
    margin-block: 5em 7em;
    height: 110%;
    border-radius: .375em;
}

@media only screen and (max-width: 686px) {
	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	header {
		display: flex;
		justify-content: center;
		margin-inline-start: 0;
	}
	h1 {
		display: block;
		text-align: center;
		max-width: 20ch;
	}
}

body::before, body::after {
    content: "";
    height: 10em;
    width: 10em;
    position: absolute;
    z-index: -1;
}

body::before {
    background-color: var(--color-shapes);
    left: 5em;
    top: 1em;
}

body::after {
    border-right: var(--color-shapes) 1em solid;
    border-bottom: var(--color-shapes) 1em solid;
    right: 2.5em;
    bottom: -15em;
}

.cards__container {
	margin: 3em;
}

.card__container {
	display: grid;
	grid-template-columns: 1fr auto;
	position: relative;
	border: var(--color-cardbor) 1px solid;
	background-color: var(--color-light);
	padding-inline: 1.5em;
	transition: 0.25s ease-in-out;
	border-radius: 0.25em;
}

.card__container:hover,
.card__container:focus-within {
	scale: 0.975;
	z-index: 5;
	box-shadow: 0 1.25em 1em -1em var(--color-shadow);
}

header {
	margin: 3em 0 0 3em;
}

h1 {
	font-size: var(--fnt-head);
}

.card-info__toggle {
    display: none;
}

.card__info {
    display: none;
}

.card-info__toggle:checked ~ .card__info {
    display: inline;
}

.card__toggle {
    display: block;
    position: relative;
	width: 2em;
	height: 2em;
	top: 1em;
	background-color: var(--color-plusbg);
	border-radius: 50%;
}

.card__toggle::before,
.card__toggle::after {
    content: "";
	height: 3px;
	width: 1.125em;
	position: absolute;
	background-color: var(--color-plus);
	left: 0.5em;
	top: 0.875em;
    transition: .25s;
}

.card__toggle::after {
    transform: rotate(90deg);
}

.card-info__toggle1:checked + label > .card__toggle::after {
    transform: rotate(90deg);
}
